# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter notebooks
*.ipynb_checkpoints/
*.ipynb 

# Raw and processed data
data/
data_old/
notebooks/
results/
visualization/
*.csv
*.xlsx

# Virtual environment
.env/
.vscode/
